@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Barlow', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(176, 232, 176), rgb(0, 136, 255));
}

.button {
  border-radius: 4px;
  background-color: #7b1ef4;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

