@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Barlow', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(176, 232, 176), rgb(0, 136, 255));
}

